{% extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container">
    <hr class="my-4">
 
    <h1 class="">Users</h1>
    <hr class="my-4">
<div class="table-responsive border rounded p-1">
<table class="table">
  <thead>
    <tr>
      <th class="font-weight-bold">Username</th>
      <th class="font-weight-bold">User Email</th>
      <th class="font-weight-bold">User Password</th>
      <th class="font-weight-bold">Date Joined</th>
      <th class="font-weight-bold">User Group</th>
      <th>
        <a href="{% url 'add_user' %}" class="btn btn-outline-success">
            <i class="fas fa-plus"></i> Add New
        </a>
    </th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password | truncatechars:9}}</td>
        <td>{{user.date_joined}}</td>
        <td>
            <a href="{% url 'update_user' user.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
            </a>
            <form action="{% url 'delete_user' user.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
        </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}