{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container">
    <h3>Add New Product</h3>
     <form action="" enctype="multipart/form-data" method="post" autocomplete="off">
            {% csrf_token %}
            {{form.product_name | as_crispy_field }}
        
            {{form.product_size | as_crispy_field  }}
            {{form.product_qyt | as_crispy_field }}
            
            <div class="row">
                <div class="col-md-4">
                    {{form.product_price | as_crispy_field}}
                </div>
                <div class="col-md-8">
                    {{form.product_category  | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-database"></i><a href="{% url 'product_list' %}"></a>Submit</a>
                        </button>
                </div>
                    <div class="col-md-4">
                        <a href="{% url 'product_list' %}" class="btn btn-secondary btn-block btn-lg">
                            <i class="fas fa-arrow-alt-circle-left">Back </i> 
                        </a>
                    </div>
                </div>
            </form>
</div>
       





{% endblock %}
