{% extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="container">
       <hr class="my-4">

       <div class="row">
        {% if products%}
        <h3>Found {{ products |length }} named {{message}}</h3>
        {% else %}
        <h2> There is no product by this name {{message}}</h2>
        {% endif %}
       

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags}} alert-dismissible fade show text-center " role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
         {% endif %}
        
      </div>
                <div class="table-responsive border rounded p-1">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="font-weight-bold">Product Name</th>
                          <th class="font-weight-bold">Product Size</th>
                          <th class="font-weight-bold">Product Quantity</th>
                          <th class="font-weight-bold">Product Category</th>
                          <th class="font-weight-bold">Product Price</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in products %}
                        <tr>
                          <td>{{product.product_name}} </td>
                          <td>{{product.product_size}}</td>
                          <td>{{product.product_qyt}}</td>
                          <td>{{product.product_category}}</td>
                          <td>Ksh {{product.product_price}}</td>
                          
                         
                          
                          <td>
                            <a href="{% url 'update_product' product.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                            <form action="{% url 'delete_product' product.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>
                          
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

            
     
    </div>

  

{% endblock %}