{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="container ">
    <hr class="my-4">
       <h1 class="">Materials</h1>
       <hr class="my-4">
        <form action="" enctype="multipart/form-data" method="post" autocomplete="off">
            {% csrf_token %}
            {{form.material_name | as_crispy_field }}
            {{form.quantity | as_crispy_field  }}
            {{form.price | as_crispy_field  }}
         
            
            
            <div class="row">
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-8">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-database"></i>
                        Submit</button>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'all_materials' %}" class="btn btn-secondary btn-block btn-lg">
                        <i class="fas fa-arrow-alt-circle-left">Back </i> 
                    </a>
                </div>
            </div>
        </form>

      </div>

{% endblock %}
