{% extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Materials</h1>
                <hr class="my-4">
                <table class="table table-borderless">
                    <thead class="border-bottom font-weight-bold">
                        <tr>
                            <td>Name</td>
                            <td> Quantity</td>
                            <td> Price</td>
                            <td>Date</td>
                            <td>Action</td>
                         
                            <td>
                                <a href="{% url 'add_material' %}" class="btn btn-outline-success">
                                    <i class="fas fa-plus"></i> Add New
                                </a>
                            </td>
                        </tr>
                    </thead>    
                    <tbody>
                      {% for material in materials%}
                            <tr>
                                <td>{{material.material_name}}</td>
                                <td>{{material.quantity}}</td>
                                <td>{{material.price}}</td>
                                <td>{{material.date}}</td>
                              
                                
                                <td>
                                    <a href="{% url 'edit_material' material.id %}" class="btn text-secondary px-0">
                                        <i class="far fa-edit fa-lg"></i>
                                    </a>
                                    <form action="{% url 'delete_material' material.id %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn">
                                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>
        </div>
    </div>


{% endblock %}


