{%extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<body>
    <nav class="navbar navbar-expand-lg navbar-light main" style="background-color: #ffffff;">
        <a class="navbar-brand" href="#"><strong>Suppliers</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="float:right">
                    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                </li>

                <li class="nav-item" style="float:right">
                    <a class="nav-link" href="/logout"><i class="fa fa-sign-out">Logout</i></a>
                    
                </li>
            </ul>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <p class="taste_afrique">TASTE AFRIQUE</p>
        <div style="text-align: center;">
            <i class="fas fa-user-circle fa-7x"></i>
            <p style="color: #ffffff;">NAME</p>
        </div>
        <button class="dropdown-btn">Product
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'product' %}"><i class="fa fa-list-alt">Categories</i></a>
            <a href="#">Add Product</a>
            <a href="#">Manage Product</a>
        </div>

        <button class="dropdown-btn">Client
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Client</a>
            <a href="#">Manage Client</a>
        </div>

        <button class="dropdown-btn">Supplier
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="{% url 'add_supplier' %}">Add Supplier</a>
            <a href="{% url 'all_suppliers' %}">Manage Supplier</a>
        </div>

        <button class="dropdown-btn">Order
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Order</a>
            <a href="#">Manage Order</a>
        </div>

        <button class="dropdown-btn">Purchase
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Purchase</a>
            <a href="#">Manage Purchase</a>
        </div>
    </div>

<div class="container">
  <div class="col-md-10 offset-md-1 mt-5">
      <div class="jumbotron">
          <h1 class="display-4">Suppliers</h1>
          <hr class="my-4">
          {% if suppliers %}

          <h1 class="text-center "><span class="text-danger">Total Suppliers</span>: {{total_suppliers}}</h1>
          <table class="table table-borderless">
              <thead class="border-bottom font-weight-bold">
                  <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Date</th>
                    <th>Materials</th>
                    <th>Action</th>
                      
                      <td>
                          <a href="{% url 'add_supplier' %}" class="btn btn-outline-success">
                              <i class="fas fa-plus"></i> Add New
                          </a>
                      </td>
                  </tr>
              </thead>
              <tbody>
                {% for supplier in suppliers %}
                      <tr>
                        <td>{{supplier.id}}</td>
                        <td>{{supplier.supplier_name}}</td>
                        <td>{{supplier.supplier_contact}}</td>
                        <td>{{supplier.date}}</td>
                        <td>{{supplier.materials}}</td>
                        <td> 
                            <a href="{% url 'edit_supplier' supplier.pk %}"><button type="button" class="btn "><i class="fa fa-pencil">edit</i></a>
                            </button>
                            <span> <a href="{% url 'delete_supplier' supplier.pk %}"> <button class="btn btn-danger"><i class="fa fa-trash" ></i>delete</span>
                          </button>
                          
                           </td>
                          
                         
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% else %}
        <div class="text-center">No suppliers available</div>
        {% endif %}
      
      </div>
  </div>
</div>



{% endblock %}