{%extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container">
  <div class="col-md-10 offset-md-1 mt-5">
      <div class="jumbotron">
          <h1 class="display-4">Suppliers</h1>
          <hr class="my-4">
          {% if suppliers %}

          <h1 class="text-center "><span class="text-danger">Total Suppliers</span>: {{total_suppliers}}</h1>
          <table class="table table-borderless">
              <thead class="border-bottom font-weight-bold">
                  <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Date</th>
                    <th>Materials</th>
                    <th>Action</th>
                      
                      <td>
                          <a href="{% url 'add_supplier' %}" class="btn btn-outline-success">
                              <i class="fas fa-plus"></i> Add New
                          </a>
                      </td>
                  </tr>
              </thead>
              <tbody>
                {% for supplier in suppliers %}
                      <tr>
                        <td>{{supplier.id}}</td>
                        <td>{{supplier.supplier_name}}</td>
                        <td>{{supplier.supplier_contact}}</td>
                        <td>{{supplier.date}}</td>
                        <td>{{supplier.materials}}</td>
                        <td> 
                            <a href="{% url 'edit_supplier' supplier.pk %}"><button type="button" class="btn "><i class="fa fa-pencil">edit</i></a>
                            </button>
                            <span> <a href="{% url 'delete_supplier' supplier.pk %}"> <button class="btn btn-danger"><i class="fa fa-trash" ></i>delete</span>
                          </button>
                          
                           </td>
                          
                         
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% else %}
        <div class="text-center">No suppliers available</div>
        {% endif %}
      
      </div>
  </div>
</div>



{% endblock %}