{%extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container" style=" margin-top: 7%;">
  <hr class="my-4">
  <div class="row">
    {% if suppliers%}
    <h3>Found {{ suppliers|length }} named {{message}}</h3>
    {% else %}
    <h2> There is no supplier by this name {{message}}</h2>
    {% endif %}

  </div>
  <div class="table-responsive border rounded p-1">
    <table class="table">
      <thead>
                  <tr>
                    <th class="font-weight-bold">Name</th>
                    <th class="font-weight-bold">Contact</th>
                    <th class="font-weight-bold">Date</th>
                    <th class="font-weight-bold">Materials</th>
                    <th class="font-weight-bold">Action</th>
                      
                  </tr>
              </thead>
              <tbody>
                {% for supplier in suppliers %}
                      <tr>
                        <td>{{supplier.id}}</td>
                        <td>{{supplier.supplier_name}}</td>
                        <td>{{supplier.supplier_contact}}</td>
                        <td>{{supplier.date}}</td>
                        <td>{{supplier.materials}}</td>
                        <td> 

                          <a href="{% url 'edit_supplier' supplier.pk %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                            </button>
                            <span> <a href="{% url 'delete_supplier' supplier.pk %}"> <button class="btn ">
                              <i class="far fa-trash-alt fa-lg text-danger float-right" ></i></span>
                          
                           </td>
                          
                         
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        
      </div>
  </div>
</div>



{% endblock %}