{%extends "dashboards/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div id="mySidenav" class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <p class="taste_afrique">TASTE AFRIQUE</p>
        <div style="text-align: center;">
            <i class="fas fa-user-circle fa-7x"></i>
            <p style="color: #ffffff;">Username </p>
        </div>
    </div>
<div style="margin-left: 250px;">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">PRODUCT</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total: {{total_product}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">CLIENT</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">SUPPLIER</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">ORDER</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">PURCHASE</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">SALES</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>

{% endblock %}