{%extends "dashboards/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}   
    <div style="margin-left: 250px;">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">PRODUCT</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total: {{total_product}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">CLIENT</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">SUPPLIER</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">ORDER</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">PURCHASE</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">SALES</div>
                <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total:</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>

{% endblock %}