<!-- <h1>
  great

</h1> -->
{%extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light main" style="background-color: #ffffff;">
        <a class="navbar-brand" href="#"><strong>Categories</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="float:right">
                    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <p class="taste_afrique">TASTE AFRIQUE</p>
        <div style="text-align: center;">
            <i class="fas fa-user-circle fa-7x"></i>
            <p style="color: #ffffff;">NAME</p>
        </div>
        <button class="dropdown-btn">Product
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Categories</a>
            <a href="#">Add Product</a>
            <a href="#">Manage Product</a>
        </div>

        <button class="dropdown-btn">Client
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Client</a>
            <a href="#">Manage Client</a>
        </div>

        <button class="dropdown-btn">Supplier
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Supplier</a>
            <a href="#">Manage Supplier</a>
        </div>

        <button class="dropdown-btn">Order
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Order</a>
            <a href="#">Manage Order</a>
        </div>

        <button class="dropdown-btn">Purchase
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Purchase</a>
            <a href="#">Manage Purchase</a>
        </div>
    </div>

    <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
<!-- 
    <div id="myMain" class="main">
        <div class="part5">
            <div class="row justify-content-md-center no-gutters">
                <div class="col-sm-auto size" id="col-1">
                    <img src="{% static '/images/PRODUCT.jpg'%}" alt="work4" id="img_1" class="img-thumbnail">
                    <div class="project" id="project_1">
                        <div class="text">PRODUCT</div>
                    </div>
                </div>
                <div class="col-sm-auto size" id="col-2">
                    <img src="{% static '/images/CLIENTS.jpg'%}" alt="work3" id="img_2" class="img-thumbnail">
                    <div class="project" id="project_2">
                        <div class="text">CLIENTS</div>
                    </div>
                </div>
                <div class="col-sm-auto size" id="col-3">
                    <img src="{% static '/images/SUPPLIERS.jpg'%}" alt="work2" id="img_3" class="img-thumbnail">
                    <div class="project" id="project_3">
                        <div class="text">SUPPLIERS</div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center no-gutters">
                <div class="col-sm-auto size" id="col-4">
                    <img src="{% static '/images/ORDERS.png'%}" alt="work1" id="img_4" class="img-thumbnail">
                    <div class="project" id="project_4">
                        <div class="text">ORDERS</div>
                    </div>
                </div>
                <div class="col-sm-auto size" id="col-5">
                    <img src="{% static '/images/PURCHASE.png'%}" alt="work5" id="img_5" class="img-thumbnail">
                    <div class="project" id="project_5">
                        <div class="text">PURCHASE</div>
                    </div>
                </div>
                <div class="col-sm-auto size" id="col-6">
                    <img src="{% static '/images/work4.jpg'%}" alt="work6" id="img_6" class="img-thumbnail">
                    <div class="project" id="project_6">
                        <div class="text">PROJECT 6</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>


    
</body>

</html>

{% endblock %}