

{% extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <h1 class="">Sales</h1>
                <hr class="my-4">
                <table class="table table-borderless">
                    <thead class="border-bottom font-weight-bold">
                        <tr>
                            <td>Sales Date</td>
                            <td>Sell NO.</td>
                            <td>Client Name</td>
                            <td>Product Name</td>
                            <td>Product price(KSH)</td>
                            <td>Quantity</td>
                            <td>Product Amount(KSH)</td>
                            <td>
                                <a href="{% url 'add_sell' %}" class="btn btn-outline-success">
                                    <i class="fas fa-plus"></i> Add New
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>{{sale.date | date}}</td>
                                <td>{{sale.id}}</td>
                                <td>{{sale.client.client_name}}</td>
                                <td>{{sale.product.product_name}}</td>
                                <td>{{sale.product.product_price}}</td>
                                <td>{{sale.quantity}}</td>
                                <td>{{sale.get_total}}</td>
                              
                               
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>
        </div>
    </div>


{% endblock %}


