{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style=" margin-top: 7%;">
    <h1 class="">Add Purchase</h1>
<form action="" enctype="multipart/form-data" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.supplier | as_crispy_field }}
    {{form.material | as_crispy_field  }}
    {{form.qyt | as_crispy_field  }}
    {{form.price | as_crispy_field }}
  
     
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form>
</div>

{% endblock %}