{%load static%}
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex align-items-center">
    
    <div class="text-center">
    <img class="img-fluid" style="height: 90px; padding-left: 50px; margin-top: 30px;" src="/static/images/ta-removebg-preview.png" alt="">
  </div> 
    
    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/static/images/ta-removebg-preview.png"
        alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
    <h5 class="mb-0 font-weight-medium d-none d-lg-flex">
      <div style="font-size:48px;color:#e6187f">Taste Afrique</div>
    </h5>
    <ul class="navbar-nav navbar-nav-right ml-auto">
      <form class="search-form d-none d-md-block" action="#">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search items" name="items" />
      </form>
      <li class="nav-item dropdown">
        <a class="nav-link count-indicator message-dropdown" id="messageDropdown" href="#" data-toggle="dropdown"
          aria-expanded="false">
          <i class="fa fa-bell"></i>
          <span class="count">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
          aria-labelledby="messageDropdown">
          <a class="dropdown-item py-3">
            <p class="mb-0 font-weight-medium float-left">
              You have 7 unread mails
            </p>
            <span class="badge badge-pill badge-primary float-right">View all</span>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i></a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span><i class="fas fa-bars"></i></span>
    </button>
  </div>
</nav>
<div class="page-body-wrapper">

  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="profile-image">
            <img class="img-xs rounded-circle" src="/static/images/faces/face8.jpg" alt="profile image" />
            <div class="dot-indicator bg-success"></div>
          </div>
          <div class="text-wrapper">
            <p class="profile-name"></p>
            <p class="designation">{{ user }}}</p>
          </div>
          <div class="icon-container">
            <i class="icon-bubbles"></i>
            <div class="dot-indicator bg-danger"></div>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'shome'%}">
          <span class="menu-title" style="font-size:24px; font-weight:bolder;">Dashboard</span>
          <i class="fa fa-dashboard menu-icon" style="font-size:24px;"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Product</span>
          <i class="fa fa-list-alt menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a href="{% url 'add_product' %}">Add Product</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'product_list' %}">Manage Product</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
          <span class="menu-title">Clients</span>
          <i class="fa fa-users menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a href="{% url 'add_client'%}">Add Client</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'client_list' %}">Manage Client</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
          <span class="menu-title">Accounts</span>
          <i class='fab fa-first-order menu-icon'></i>
        </a>
        <div class="collapse" id="ui-basic3">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a href="{%  url 'add_user' %}">Add User</a>
            </li>
            <li class="nav-item">
              <a href="{%  url 'users_list'%}">Manage User</a>
            </li>
          </ul>
        </div>
      </li> 

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
          <span class="menu-title">Sales</span>
          <i class='fa fa-money menu-icon'></i>
        </a>
        <div class="collapse" id="ui-basic4">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a href="{% url  'add_sell'  %}">Make sale</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sales' %}">Manage Sales</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic5">
          <span class="menu-title">Reports</span>
          <i class='fab fa-first-order menu-icon'></i>
        </a>
        <div class="collapse" id="ui-basic5">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a href="{% url 'todays_purchase' %}">Todays Report</a>
            </li>
            <li class="nav-item"><a href="{% url 'sales_report' %}">Sales Reports</a>
            </li>
            <li class="nav-item"><a href="{% url 'purchase_report' %}">Purchase Reports</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic6">
          <span class="menu-title">Purchase</span>
          <i class='fas fa-credit-card menu-icon'></i>
        </a>
        <div class="collapse" id="ui-basic6">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a href="{%  url 'create_purchases'%}">Add Purchase</a>
            </li>
            <li class="nav-item">
              <a href="{%  url 'purchases'%}">Manage Purchase</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic7" aria-expanded="false" aria-controls="ui-basic7">
          <span class="menu-title">Supplier</span>
          <i class='fas fa-truck menu-icon'></i>
        </a>
        <div class="collapse" id="ui-basic7">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a href="{%  url 'add_supplier'%}">Add Supplier</a>
            </li>
            <li class="nav-item">
              <a href="{%  url 'all_suppliers'%}">Manage Supplier</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic8" aria-expanded="false" aria-controls="ui-basic8">
          <span class="menu-title">Materials</span>
          <i class='fas fa-truck menu-icon'></i>
        </a>
        <div class="collapse" id="ui-basic8">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a href="{%  url 'add_material'%}">Add Material</a>
            </li>
            <li class="nav-item">
              <a href="{%  url 'all_materials'%}">Manage Materials</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <script>
    (function ($) {
      "use strict";
      $(function () {
        $('[data-toggle="offcanvas"]').on("click", function () {
          $(".sidebar-offcanvas").toggleClass("active");
        });
      });
    })(jQuery);
  </script>