{%extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}



<div class="container">
    <hr class="my-4">
    <div class="row">
        {% if clients%}
        <h3>Found {{ clients|length }} named {{message}}</h3>
        {% else %}
        <h2> There is no client by this name {{message}}</h2>
        {% endif %}
    
      </div>
<div class="table-responsive border rounded p-1">
<table class="table table-hover">
  <thead>
    <tr>
      <th class="font-weight-bold">Client Name</th>
      <th class="font-weight-bold">Client Contact</th>
      
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
        <td>{{client.client_name}}</td>
        <td>{{client.client_phone}}</td>
        
      <td>
        <a href="{% url 'update_client' client.id %}" class="btn text-secondary px-0">
            <i class="far fa-edit fa-lg"></i>
        </a>
        <form action="{% url 'delete_client' client.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn">
                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
            </button>
        </form>
    </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>



</div>



{% endblock %}